.otpCode_hidden {
    position: absolute;
    top: -1000px;
    opacity: 0;
    height: 1px;
    width: 1px;
    pointer-events: auto;
    z-index: 1;
}

.otpCode {
    width: 120px;
    height: 30px;
    margin: 30px 10px;
    padding: 10px;
    border: 2px solid #656565;
    border-radius: 10px;
}